.header {
  width: 100%;
  min-height: 10vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.header nav {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.image{
  padding-left: 15%;
  display: flex;
  align-items: center;
}

.header ul {
  list-style: none;
  display: flex;
}
.header ul li {
  padding: 20px;
  white-space: nowrap;
}
.header ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
select {
  outline: 0px;
  border: 0px;
  font-weight: bold;
  color: black;
}
.pages:hover{
    background-color: black;
    color: white;
    display: inline-block;
    height: 30px;
    padding: 5px;
    border-radius: 4px;
}
