.container {
  min-height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-left: 8%;
}
.image2 {
  width: 80%;
}
.leftside {
  padding: 4% 0;
}
.rightside {
  padding: 4% 0;
  margin-right: 20%;
}
.strong {
  font-size: 35px;
}
