
.ctx{
    height: 40vh;
    background-color: #32483f;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}
.box1{
    color: #ffff; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.box1 p{
    font-size: 36px;
}
.mobile{
    /* position: absolute; */
    height: 120%;
    width: 100%;
    position: relative;
    top: -20%;
}
.connect{
    background-color: #62c596;
    height: 20%;
    width: 65%;
    border-radius: 10px;
    position: relative; 
    top: -10%;
    left: -20%;
    padding: 15px;
    font-size: 17px;
    word-spacing: 2px;
}